body{
  margin:0;
  font-family:Segoe UI;
}

.navbar{
  background:#1e3a8a;
  color:white;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:15px 30px;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

.menu a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:500;
}

.menu a:hover{
  color:#fbbf24;
}

.container{
  padding:30px;
}