:root {
  background-color: #fef9fd; /* Soft pink page background */
  color: #333333;
}

body {
  margin: 0;
  padding: 10px;
  background-color: #fcf6fc;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}